Source: ros-melodic-fsrobo-r
Section: misc
Priority: optional
Maintainer: F-ROSROBO <F-ROSROBO@fsi.co.jp>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-fsrobo-r-bringup, ros-melodic-fsrobo-r-description, ros-melodic-fsrobo-r-driver, ros-melodic-fsrobo-r-moveit-config, ros-melodic-fsrobo-r-msgs, ros-melodic-fsrobo-r-trajectory-filters
Homepage: http://wiki.ros.org/fsrobo_r
Standards-Version: 3.9.2

Package: ros-melodic-fsrobo-r
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-fsrobo-r-bringup, ros-melodic-fsrobo-r-description, ros-melodic-fsrobo-r-driver, ros-melodic-fsrobo-r-moveit-config, ros-melodic-fsrobo-r-msgs, ros-melodic-fsrobo-r-trajectory-filters
Description: Meta package for FSRobo-R
