Source: ros-kinetic-fsrobo-r-bringup
Section: misc
Priority: optional
Maintainer: F-ROSROBO <F-ROSROBO@fsi.co.jp>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-fsrobo-r-description, ros-kinetic-fsrobo-r-driver, ros-kinetic-fsrobo-r-moveit-config, ros-kinetic-robot-state-publisher, ros-kinetic-tf2-ros
Homepage: http://wiki.ros.org/fsrobo_r_bringup
Standards-Version: 3.9.2

Package: ros-kinetic-fsrobo-r-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-fsrobo-r-description, ros-kinetic-fsrobo-r-driver, ros-kinetic-fsrobo-r-moveit-config, ros-kinetic-robot-state-publisher, ros-kinetic-tf2-ros
Description: The fsrobo_r_bringup package
